/* .buttonColor:hover {
  color: #237ca8 !important;
  font-weight: bold;
}
.buttonColor:active {
  color: red !important;
  font-weight: bold;
}
.buttonColor:focus {
  background-color: black !important;
  font-weight: bold;
} */

.buttonColor:hover {
  background-color: #48d0a7 !important;
}
.buttonColor:hover {
  background-color: #48d0a7 !important;
}
