ul {
  list-style: none;
}

.nextBtn {
  display: flex;
  justify-content: center;
}
.trivia-container {
  display: flex;
  justify-content: center;
  padding: 2rem 2rem 0 0;
  width: 100%;
}

.answerKey:hover {
  background-color: #b6edc8;
}

.answerKey:active {
  background-color: #2ca58b;
  color: #fff;
}
